.addtask-form {
    background-color: #f8f8f8;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .addtask-title,
  .addtask-description,
  .addtask-date,
  .addtask-priority {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .addtask-btn {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  